:root {
  --dark-bg: #0c0920;
  --dark-fg: #F4F2F3;
  --light-bg: #F4F2F3;
  --light-fg: #0c0920;
  --accent: #7630ff;
  --accent-darker: #4b0082;
}

body {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto !important;
  width: 900px;
}

#dark {
  background-color: var(--dark-bg);
  color: var(--dark-fg);
  transition: background-color .3s ;
}

#light {
  background-color: var(--light-bg);
  color: var(--light-fg);
  transition: background-color .3s ;
}

.ThemeSwitcher {
  position: fixed;
  bottom: 12px;
  right: 12px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--accent);
}

.ThemeSwitcher:hover {
  /* background-color: hsl(0, 0%, 0%); */
}

.ThemeSwitcher:active {
  /* background-color: hsl(0, 0%, 0%); */
}

.ThemeSwitcher span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  padding: .5rem 1.125rem;
  font-size: 1rem;
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--accent);
  color: var(--dark-fg);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform .2s, background-color .2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mobile_addbtn span{
  margin: 0;
}

.button-logo {
  margin-right: .25rem;
}

button:hover {
  background-color: var(--accent-darker);
}

button:active {
  transform: translateY(3px);
  background-color: var(--accent-darker);
}

.TodoList {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.TodoList h1 {
  font-weight: 600;
}

.form_addtask {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 12px;
}

.form_addtask :first-child {
  flex: 1;
}

input[type="text"] {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: .4rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
}

#light input[type="text"] {
  background-color: hsl(330, 8%, 85%);
  color: var(--light-fg);
}

#dark input[type="text"] {
  background-color: hsla(248, 56%, 22%, 1);
  color: var(--dark-fg);
}

input[type="text"]:focus {
  border: none;
  outline: 2px solid var(--accent);
}

textarea {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  resize: none;
}

#light textarea {
  background-color: hsl(330, 8%, 85%);
  color: var(--light-fg);
}

#dark textarea {
  background-color: hsla(248, 56%, 22%, 1);
  color: var(--dark-fg);
}

textarea:focus {
  border: none;
  outline: 2px solid var(--accent);
}

.modal {
  width: 600px;
  height: 460px;
  display: flex;
  flex-direction: column;
}

#light .modal {
  background-color: var(--light-bg);
}

#dark .modal {
  background-color: var(--dark-bg);
}

.modal_header h2 {
  font-weight: 600;
}

.modal_body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.task_modal_forms {
  flex: 1;
}

.task_modal_title, .task_modal_description {
  margin-top: 16px;
  margin-bottom: 16px;
}

.task_modal_title p, .task_modal_description p {
  margin-left: 14px;
  margin-bottom: 8px;
}

.task_modal_title input, .task_modal_description textarea {
  width: 100%;
}

.task_modal_buttons * {
  float: right;
}

.tasks_body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tasks_body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  column-gap: 2rem;
}

.notask {
  text-align: center;
}

#light .notask {
  color: var(--light-fg);
}

#dark .notask {
  color: var(--dark-fg);
}

.task_remaining {
  font-size: .85rem;
  font-weight: 400;
}

.task_container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 180px;
  padding: 1rem;
  border-radius: 1rem;
}

#light .task_container {
  background-color: #e0cffc;
}

#dark .task_container {
  background-color: #1e0548;
}

.task_maincontent {
  flex: 1;
}

.task_maincontent h4 {
  font-weight: 600;
  margin-bottom: .4rem;
}

.task_maincontent p {
  font-size: .85rem;
}

.task_buttons button {
  padding: .3rem .8rem;
  font-size: .85rem;
  float: right;
}

.task_buttons :nth-child(1) {
  margin-left: 4px;
}

.task_buttons :nth-child(2) {
  margin-right: 4px;
}

.task_buttons button span{
  font-size: .8rem;
}

.task_ongoing {
  
}

.task_finished .task_maincontent *{
  text-decoration: line-through;
  text-decoration-thickness: 5px;
}

#light .task_finished .task_maincontent *{
  text-decoration-color: var(--accent-darker);
}

#dark .task_finished .task_maincontent *{
  text-decoration-color: var(--accent);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px !important;
  }

  body {
    width: 100%;
  }

  .TodoList {
    margin: 16px;
  }

  .modal {
    width: 300px;
    height: 400px;
  }

  .task_modal_buttons {
    display: flex;
    justify-content: center;
  }

  .task_modal_buttons button {
    float: left;
    padding: .3rem .6rem;
    font-size: .8rem;
  }

  .task_buttons :nth-child(2) {
    margin-bottom: 6px;
  }

  .task_container {
    width: 100%;
    height: 180px;
  }

  .tasks_body ul {
    row-gap: 1rem;
  }
}